body{
  font:normal 75% Arial, Helvetica, sans-serif;
	display:grid;
	grid-template-columns: 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7%  ;
	grid-template-rows:  120px 5px 150px 1100px 800px 950px 800px 800px 800px 800px;
}

p {
  font-size: 18px;
}
img {
 margin:0;
}

h1{
  font-weight: normal;
  color: #EA4E34;
}

h2{
  color: #F9C41E;
}

 a{
	 opacity: 0.7;
   filter: alpha(opacity=50);
 }

 a:hover {
	opacity: 1.0;
	 filter: alpha(opacity=100);
 }

 .title{
   padding-top: 40px;
   padding-left:40px;
   grid-column: 6/13;
   grid-row: 3/4;
   align: center;
 }

 .redLine{
   grid-column: 1/13;
   grid-row: 2/3;
   padding-top: 10px;
   padding-left: 90px;
 }

 .uiuxLogo {
   padding-left: 20px;

   padding-top: 10px;
   grid-column: 2/4;
   grid-row: 1/2;
   max-width: 100px;
   opacity: 1.0;
 }

 .artLogo {
   padding-top: 10px;
   padding-left: 20px;

   grid-column: 4/6;
   grid-row: 1/2;
   max-width: 100px;
 }

 .vxxLogo {
   grid-column: 6/10;
   padding-left: 60px;
   grid-row: 1/2;
   max-width: 100px;
 }

 .videoLogo {
   padding-top: 10px;
   padding-left: 95px;
   grid-column: 9/11;
   grid-row: 1/2;
   max-width: 100px;
 }

 .codingLogo {
   padding-top: 14px;
   padding-left:100px;
   grid-column: 11/14;
   grid-row: 1/2;
   max-width: 100px;
 }

 .vertVid {
   padding-top: 60px;
   padding-left:40px;
   grid-column: 5/8;
   grid-row: 4/5;
 }

 .horizVid {
   padding-top: 0px;
   padding-left:40px;
   grid-column: 4/8;
   grid-row: 5/6;
 }

 .c {
   padding-left:90px;
   padding-bottom:80px;
   grid-column: 4/8;
   grid-row: 6/7;
 }

 .d {
   padding-left:115px;
   grid-column: 3/8;
   grid-row: 7/8;
 }

 .e {
   padding-left:115px;
   grid-column: 3/8;
   grid-row: 8/9;
 }

 .f {
   padding-left:115px;
   grid-column: 3/8;
   grid-row: 9/10;
 }

 .g {
   padding-left:115px;
   grid-column: 3/8;
   grid-row: 9/10;
 }
