body{
  font:normal 75% Arial, Helvetica, sans-serif;
	display:grid;
	grid-template-columns: 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7%  ;
	grid-template-rows:  120px 5px 40px 60px 460px 120px ;
}

img {
 margin:0;
}

h1{
  font-weight: normal;
  color: #EA4E34;
}

h2{
  color: #F9C41E;
}

 a{
	 opacity: 0.7;
   color: #EA4E34;
   filter: alpha(opacity=50);
 }

 a:hover {
	opacity: 1.0;
	 filter: alpha(opacity=100);
 }

 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  grid-column: 3/12;
  grid-row: 13/14;
  margin-top:50px;
}

td, th {
  /* border: 1px solid #EA4E34; */
  text-align: left;
  padding: 20px;
  color: #1A40A0;
}

td:nth-child(odd) {
  color: #EA4E34;
}



 .redLine{
   grid-column: 1/13;
   grid-row: 2/3;
   padding-top: 10px;
   padding-left: 90px;
 }

 .uiuxLogo {
   padding-left: 20px;

   padding-top: 10px;
   grid-column: 2/4;
   grid-row: 1/2;
   max-width: 100px;
 }

 .artLogo {
   padding-top: 10px;
   padding-left: 20px;

   grid-column: 4/6;
   grid-row: 1/2;
   max-width: 100px;
 }

 .vxxLogo {
   grid-column: 6/10;
   padding-left: 60px;
   grid-row: 1/2;
   max-width: 100px;
 }

 .videoLogo {
   padding-top: 10px;
   padding-left: 95px;
   grid-column: 9/11;
   grid-row: 1/2;
   max-width: 100px;
 }

 .codingLogo {
   padding-top: 14px;
   padding-left:100px;
   grid-column: 11/14;
   grid-row: 1/2;
   max-width: 100px;
 }


.title {
  grid-column: 1/14;
  grid-row: 3/4;
  text-align: center;
  padding-right: 20px;
  padding: 20px;
}

.subtitle {
  grid-column: 2/5;
  grid-row: 4/5;
  margin-top: 40px;
  color: #4671EE;
  font-size: 15px;
}

.zine{
  grid-column: 5/10;
  margin-left:10px;
  grid-row: 5/6;
}

.subtitle2 {
  grid-column: 10/13;
  grid-row: 4/7;
  font-size: 15px;
  margin-top: 40px;

  color: #F9C41E;
}
