body{
  font:normal 75% Arial, Helvetica, sans-serif;
	display:grid;
	grid-template-columns: 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7%  ;
	grid-template-rows:  80px 5px 40px 15px 150px 15px 150px 15px 200px ;
}

img {
 margin:0;
}

 a{
	 opacity: 0.7;
   filter: alpha(opacity=50);
 }

 a:hover {
	opacity: 1.0;
	 filter: alpha(opacity=100);
 }

.redLine{
  grid-column: 1/13;
  grid-row: 2/3;
  padding-top: 50px;
  padding-left: 90px;
}

.uiuxLogo {
  padding-left: 20px;

  padding-top: 10px;
  grid-column: 2/4;
  grid-row: 1/2;
  max-width: 100px;
  opacity: 1.0;
}

.artLogo {
  padding-top: 10px;
  padding-left: 20px;

  grid-column: 4/6;
  grid-row: 1/2;
  max-width: 100px;
}

.vxxLogo {
  grid-column: 6/10;
  padding-left: 60px;
  grid-row: 1/2;
  max-width: 100px;
}

.videoLogo {
  padding-top: 10px;
  padding-left: 95px;
  grid-column: 9/11;
  grid-row: 1/2;
  max-width: 100px;
}

.codingLogo {
  padding-top: 14px;
  padding-left:100px;
  grid-column: 11/14;
  grid-row: 1/2;
  max-width: 100px;
}

.devIcon {
  padding-top: 50px;
  grid-column: 2/6;
  grid-row: 5/6;
  padding-left:55px;

}

.redesignIcon {
  padding-top: 50px;
  grid-column: 7/12;
  grid-row: 5/6;
  padding-left:85px;
}

.iterIcon {
  padding-top: 140px;
  grid-column:  7/12;
  grid-row: 7/8;
 padding-left:85px;
}

.abIcon {
  padding-top: 140px;
  grid-column:  2/6;
  grid-row: 7/8;
  padding-left:55px;
}
